* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
}

html, body {
  max-width: 100vw;
  background: #f5f5f5;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
}

.file {
  margin-right: 15px;
  margin-bottom: 15px;
  border: 2px solid transparent;
  border-radius: 10px;
}

.file.active {
  background-color: rgb(0 113 206 / 5%);
  border: 2px solid #0071ce;
}

.empty-block {
  margin: 200px;
}